<div id="edit_s{{cardside}}" class="edit_item">
    <div class="kanjiback_template card_template">
        <div class="kanjitrans" id="kanjitrans_s{{cardside}}"></div>
        <div class="romaji" id="kanjiromaji_s{{cardside}}"></div>
        <div class="lvl">{{lvl}}</div>
        <div class="sideinfo">{{cardside|add:1}}/{{sides_number}}</div>
        <br>
    </div>

    <select class="side_select">
        {% for t_page, text in available_pages.items %}
            <option value="{{t_page}}" {% if t_page == "kanjiback" %}selected="selected"{% endif %}>

                {{text}}
            </option>
        {% endfor %}
    </select>
    <div class="kanjifront_form card_form">

        <input type="hidden" name="pages[]" value="kanjiback_s{{cardside}}"/>

        <label>Перевод</label>
        <input type="text" name="kanjitrans_s{{cardside}}" value="" class="kanjitrans_edit"/><br>
        <label>Ромадзи</label>
        <input type="text" name="kanjiromaji_s{{cardside}}" value = "" class="kanjiromaji_edit"/><br>


    </div>
    <button type="button" class="cardside_up">Вверх</button>
        <button type="button" class="cardside_down">Вниз</button>
    <button type="button" class="delete_side">Удалить сторону</button>

</div>

