<div id="kanjifront_edit_{{chunk_id}}" class="edit_item">
    <div class="kanjifront_template">
        <div class="cardside_content">

            <div class="kanji"></div>
            <div class="kanas">
                <div class="kuns">
                </div>
                <div class="ons">
                </div>
            </div>
            <br>
            <table class="words">
            </table>
        </div>
        <div class="sideinfo">{{kanjifront.cardside|add:1}}/{{sides_number}}</div>
        <div class="level">{{card_info.lvl}}</div>
        {% comment %}

        {% endcomment %}
        <br>

    </div>

    <select class="side_select">
        {% for t_page, text in available_pages.items %}
            <option value="{{t_page}}" {% if t_page == "kanjifront" %}selected="selected"{% endif %}>

                {{text}}
            </option>
        {% endfor %}
    </select>
    <div class="kanjifront_form">

        <br>
        <label for="kanji_edit">Кандзи</label>
        <input type="hidden" name="kanjifront_cardside" value="{{kanjifront.cardside}}"/>
        <input type="hidden" name="pages[]" value="kanjifront"/>
        <input type="text" name="kanji" value="" id="kanji_edit"/><br>

        <label for="kun_edit">Kun</label>
        <input type="text" name="kuns" value="" id="kun_edit"/><br>

        <label for="on_edit">On</label>
        <input type="text" name="ons" value="" id="on_edit"/><br>

        <div class="words_edit"> Слова-примеры <br>
            <input type="hidden" name="words_num" value=""/>
            <button type="button" class="add_word">Добавить слово</button>

        </div>
        <!--<input type="submit" name="edit_side" value="Редактировать сторону"/>-->
    </div>


</div>




