<div id="edit_{{cardside}}" class="edit_item">
    <!--<div data-role="header">Kanji card!</div>-->
    <div class="singlekanji_template">
        <div class="bigkanji" id="bigkanji_{{cardside}}"></div>
        <div class="sideinfo">{{cardside|add:1}}/{{sides_number}}</div>
        <div class="lvl">{{lvl}}</div>
        <br>
       <!-- <a id="prevcard"   class="ui-btn ui-corner-all ui-btn-inline">previous </a>        <a id="nextcard"   class="ui-btn ui-corner-all ui-btn-inline">next </a>-->
    </div>

    <select class="side_select">
        {% for t_page, text in available_pages.items %}
            <option value="{{t_page}}" {% if t_page == "singlekanji" %}selected="selected"{% endif %}>
                {{text}}
            </option>
        {% endfor %}
    </select> <br>
    <div class="singlekanji_form">
        {% csrf_token %}
        <input type="hidden" name="pages[]" value="singlekanji_{{cardside}}"/>
        <label for="bigkanji_edit">Кандзи</label>
        <input type="text" name="bigkanji_{{cardside}}" value ="" id="bigkanji_edit"/><br>
        <!--<input type="submit" name="edit_side" value="Редактировать сторону"/>-->

    </div>
</div>






