{% load staticfiles %}

<body>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<h3>Карточка "{{card.doc_name}}"</h3>
<div id="edit_pane">
<form class="card_form" action="" method="post">
    {% include "tutor/card_info_edit.html" %}

    <input type="hidden" name="info_lvl" id="info_lvl" value="{{card_info.lvl}}">
    <input type="hidden" name="info_sides_number" id="info_sides_number" value="{{sides_number}}">
    {% csrf_token %}


    {% for side in sides_list %}
        {% include side.page_name %}
    {% endfor %}

    <br><button type="button" name="add_side" class="add_side">Добавить сторону</button><br><br>
    <input type="submit" name="edit_side" value="Подтвердить изменения"/>
</form>
<script src="{% static 'js/jquery-1.12.1.js' %}"></script>
<script src="{% static 'js/edit_card.js' %}"></script>

</div>

</body>
</html>