{% extends 'main2.html' %}

{%load staticfiles%}

{% block tutor %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<br>
<h4><p>Колоды группы <b>"{{group}}"</b></p></h4>

{% for deck in decks_list %}
<div class="deck_menu_item">Колода: <b>{{deck.value.deck_name}}</b>  <br>
    Описание:  <b>{{deck.value.description}}</b>   <br>
    Количество карточек:    <b>{{deck.value.cards_list|length}}</b>     <br>
    <a href="{% url 'tutor:deck_detail' group_id deck.key %}" class="btn">Редактировать</a>
    <form name="delete_deck" method="post" action="{% url 'tutor:group_decks_delete' group_id deck.key %}">
        {% csrf_token %}
    <input type="submit" value="Удалить" />
</form>
</div>


{% endfor%}


<form action="{% url 'tutor:group_decks' group_id %}" class="new_deck_form" method="post">
    <h5>Добавить новую колоду</h5>
    {% csrf_token %}
    <input type="text" name="description" id="desc_field"/>
    <input type="submit" value="Добавить"/>
</form>
{% if success == "fail" %}
<h3 class="transact_status">{{success}}</h3>
{% endif %}
{% if success == "success" %}
<h3 class="transact_status">{{success}}{{success}}</h3>
{% endif %}

{% endblock%}
