{% extends 'main2.html' %}

{%load staticfiles%}

{% block tutor %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<p>Стопки группы <b>{{group}}</b></p>
<br>
<br>
{% for deck in decks_list %}
<div class="deck_menu_item">Номер стопки: <b>{{deck.key}}</b>  <br>
    Описание:  <b>{{deck.value.description}}</b>   <br>
    Количество карточек:    <b>{{deck.value.cards_list|length}}</b>     <br>
    <a href="{% url 'tutor:deck_detail' group_id deck.key %}">{{deck.key}} </a>
    <form name="delete_deck" method="post" action="{% url 'tutor:group_decks_delete' group_id deck.key %}">
        {% csrf_token %}
    <input type="submit" value="Delete" />
</form>
</div>


{% endfor%}


<form action="{% url 'tutor:group_decks' group_id %}" method="post">
    {% csrf_token %}
    <input type="text" name="description" id="desc_field"/>
    <input type="submit" value="add_deck"/>
</form>
{% if success == "fail" %}
<h3 class="transact_status">{{success}}</h3>
{% endif %}
{% if success == "success" %}
<h3 class="transact_status">{{success}}{{success}}</h3>
{% endif %}

{% endblock%}
