<div id="edit_s{{side.cardside}}" class="edit_item">
    {{page.pageName}}

    <div class="kanjifront_template card_template">

        <div class="cardside_content">

            <div class="kanji" id="kanji_s{{side.cardside}}">{{side.kanji}}</div>
            <div class="kanas">
                <div class="kuns" id="kuns_s{{side.cardside}}">
                    {% for kun in side.kun %}
                        {% comment %}<div class='kun'>{{kun}},  </div> {% endcomment %}
                        {{kun}},
                    {% endfor %}
                </div>
                <div class="ons" id="ons_s{{side.cardside}}">
                    {% for on in side.on%}
                        {% comment %}<div class='on'>{{on}},  </div> {% endcomment %}
                        {{on}},
                    {% endfor %}

                </div>
            </div>
            <br>
            <table class="words" id="words_s{{side.cardside}}">

                {% for wordItem in side.words %}
                    <tr class="word_item_field" id="word_item_field_{{forloop.counter}}_s{{side.cardside}}"><td class='word'> {{forloop.counter}}) {{wordItem.word}} </td>
                        <td class='word_kun' > {{wordItem.word_kun}} </td>
                    </tr>
                {% endfor %}

            </table>
        </div>

        <div class="sideinfo">{{side.cardside|add:1}}/{{sides_number}}</div>
        <div class="lvl">{{card_info.lvl}}</div>
        {% comment %}

        {% endcomment %}
        <br>

    </div>

    <select class="side_select">
        {% for t_page, text in available_pages.items %}
            <option value="{{t_page}}" {% if t_page == "kanjifront" %}selected="selected"{% endif %}>

                {{text}}
            </option>
        {% endfor %}
    </select>
    <div class="kanjifront_form card_form">

        <br>

        <input type="hidden" name="pages[]" value="kanjifront_s{{side.cardside}}"/>

        <label>Кандзи</label>
        <input type="text" name="kanji_s{{side.cardside}}" value="{{side.kanji}}" class="kanji_edit"/><br>

        <label >Kun</label>
        <input type="text" name="kuns_s{{side.cardside}}" value="{% for kun in side.kun %} {{kun}}, {%endfor%}" class="kun_edit"/><br>

        <label >On</label>
        <input type="text" name="ons_s{{side.cardside}}" value="{% for on in side.on %} {{on}}, {%endfor%}" class="on_edit"/><br>

        <div class="words_edit"> Слова-примеры <br>
            <input type="hidden" name="words_num_s{{side.cardside}}" value="{{side.words|length}}"/>
            {% for wordItem in side.words %}
                <div class="word_item_edit" id="word_item_edit_{{forloop.counter}}_s{{side.cardside}}">
                    <label >Слово</label>
                    <input type="text" name="word_s{{side.cardside}}[]" value="{{wordItem.word}}" class="word_edit" />
                    <label >Написание</label>
                    <input type="text" name="word_kun_s{{side.cardside}}[]" value="{{wordItem.word_kun}}" class="word_kun_edit" />
                    <button type="button" class="delete_word">Удалить слово</button>
                </div>
            {% endfor %}
            <button type="button" class="add_word">Добавить слово</button>

        </div>


        
        <!--<input type="submit" name="edit_side" value="Редактировать сторону"/>-->
    </div>

    <button type="button" class="cardside_up">Вверх</button>
        <button type="button" class="cardside_down">Вниз</button>


</div>




