<div id="edit_{{side.cardside}}" class="edit_item">
    {{page.pageName}}
    <div class="kanjiback_template">
        <div class="kanjitrans" id="kanjitrans_{{side.cardside}}">{{side.kanjitrans}}</div>
        <div class="romaji" id="kanjiromaji_{{side.cardside}}">{{side.romaji}}</div>
        <div class="level">{{card_info.lvl}}</div>
        <div class="sideinfo">{{side.cardside|add:1}}/{{sides_number}}</div>
        <br>
    </div>

    <select class="side_select">
        {% for t_page, text in available_pages.items %}
            <option value="{{t_page}}" {% if t_page == "kanjiback" %}selected="selected"{% endif %}>

                {{text}}
            </option>
        {% endfor %}
    </select>
    <div class="kanjifront_form">

        <input type="hidden" name="pages[]" value="kanjiback_{{side.cardside}}"/>

        <label >Перевод</label>
        <input type="text" name="kanjitrans_{{side.cardside}}" value="{{side.kanjitrans}}" class="kanjitrans_edit"/><br>
        <label >Ромадзи</label>
        <input type="text" name="kanjiromaji_{{side.cardside}}" value = "{{side.romaji}} "class="kanjiromaji_edit"/><br>


    </div>

</div>

