<div id="kanjiback_edit_{{kanjiback.cardside}}" class="edit_item">
    <div class="kanjiback_template">
        <div class="kanjitrans">{{kanjiback.kanjitrans}}</div>
        <div class="romaji">{{kanjiback.romaji}}</div>
        <div class="level">{{card_info.lvl}}</div>
        <div class="sideinfo">{{kanjiback.cardside|add:1}}/{{sides_number}}</div>
        <br>
    </div>

    <select class="side_select">
        {% for t_page, text in available_pages.items %}
            <option value="{{t_page}}" {% if t_page == "kanjiback" %}selected="selected"{% endif %}>

                {{text}}
            </option>
        {% endfor %}
    </select>
    <div class="kanjifront_form">

        <input type="hidden" name="pages[]" value="kanjiback"/>
        <input type="hidden" name="kanjiback_cardside" value="{{kanjiback.cardside}}"/>

        <label for="kanjitrans_edit">Перевод</label>
        <input type="text" name="kanjitrans" value="{{kanjiback.kanjitrans}}" id="kanjitrans_edit"/><br>
        <label for="kanjiromaji_edit">Ромадзи</label>
        <input type="text" name="romaji" value = "{{kanjiback.romaji}} "id="kanjiromaji_edit"/><br>


    </div>

</div>

