<div id="edit_s{{side.cardside}}" class="edit_item">
    {{page.pageName}}
    <!--<div data-role="header">Kanji card!</div>-->
    <div class="singlekanji_template card_template">
        <div class="bigkanji" id="bigkanji_s{{side.cardside}}">{{side.bigkanji}}</div>
        <div class="sideinfo">{{side.cardside|add:1}}/{{sides_number}}</div>
        <div class="lvl">{{card_info.lvl}}</div>
        <br>
    </div>

    <select class="side_select">
        {% for t_page, text in available_pages.items %}
            <option value="{{t_page}}" {% if t_page == "singlekanji" %}selected="selected"{% endif %}>

                {{text}}
            </option>
        {% endfor %}
    </select> <br>
    <div class="singlekanji_form card_form">
        {% csrf_token %}
        <input type="hidden" name="pages[]" value="singlekanji_s{{side.cardside}}"/>
        <label>Кандзи</label>
        <input type="text" name="bigkanji_s{{side.cardside}}" value ="{{side.bigkanji}}" class="bigkanji_edit"/><br>
        <!--<input type="submit" name="edit_side" value="Редактировать сторону"/>-->

    </div>
    <button type="button" class="cardside_up">Вверх</button>
        <button type="button" class="cardside_down">Вниз</button>
</div>






