

{%load staticfiles%}

<link rel="stylesheet" type="text/css" href="{% static 'tutor/style.css' %}" />
<p>Группы преподавателя  <b>{{tutor_doc.name}}</b></p>
<br>
<br>
{% for group in groups_list %}
<div class="group_menu_item">Группа: <b>{{group.group_name}}</b>  <br>
    Описание:  <b>{{group.decks_list|length}}</b>   <br>
    Количество стопок карточек:    <b>{{group.decks_list|length}}</b>     <br>
    {% comment %}<a href="{% url 'tutor:deck_detail' deck.key %}">{{deck.key}} </a>
    <form name="delete_deck" method="post" action="{% url 'tutor:group_decks_delete' deck.key %}">
        {% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    {% endcomment %}
</div>
<br>

{% endfor%}


{% comment %}
<form action="{% url 'tutor:group_decks' %}" method="post">
    {% csrf_token %}
    <input type="text" name="description" id="desc_field"/>
    <input type="submit" value="add_deck"/>
</form>
{% if success == "fail" %}
<h3 class="transact_status">{{success}}</h3>
{% endif %}
{% if success == "success" %}
<h3 class="transact_status">{{success}}{{success}}</h3>
{% endif %}
{% endcomment %}

