{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Nihongo Tutor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="top-bar">
    <section class="top-bar-section">
        <ul class="right">
            {% if user.is_authenticated%}
                <li><a href="/auth/logout/">Выйти ({{ user.get_username }})</a></li>
            {% else %}
                <li><a href="/auth/login/">Войти</a></li>
            {% endif %}
        </ul>
    </section>
</div>

<style>
    h1 {text-indent:40px;}
</style>


<br><br>
<div class="row">
    <h3><a href="/">Система дистанционного обучения "Nihongo Tutor"</a></h3>


{% block login %}{% endblock %}
{% block tutor %}{% endblock %}
</div>

{% comment %}
<div id="hmenu">
<ul>
  <li><a href="{% url 'article.views.articles' %}">Блог</a></li>
  <li><a href="{% url 'clnd:main' %}">Календарь</a></li>


</ul>
</div>

{% endcomment %}
</body>
</html>