{% load staticfiles %}

<div id="kanjidemo" class="singlekanji" show="false">
    <!--<div data-role="header">Kanji card!</div>-->
    <div  class="ui-content">
        <div class="bigkanji">{{bigkanji}}</div>
        <div class="lvl"></div>
        <div class="sideinfo"></div>
        <br>
       <a id="prevcard"   class="ui-btn ui-corner-all ui-btn-inline">previous </a>
        <a id="nextcard"   class="ui-btn ui-corner-all ui-btn-inline">next </a>
    </div>
</div>


<!--data-role="page" data-role="main"-->



